# Analysis of travel dataset
This dataset was acquired from Kaggle and is a randomly generated list of data and **not** collected from real world sources.
[Dataset Credit: ](https://www.kaggle.com/datasets/rkiattisak/traveler-trip-data)

**Goals:**
1. Setup and Imports
    - Will be using Pandas and numpy for handling data frames, other imports for graphs etc.,
2. Load the dataset
    - Into a pandas dataframe to have a look at it
3. Explore Data
    - Go through current dataframe do some exploratory analysis
    - Think about any feature creation which could be included?
4. Clean Data
    - Remove anything we dont require and tidy text where possible
5. Analysis of Data
    - Perform some analysis on dataset

## Setup

In [1]:
## Imports
import pandas as pd
import numpy as np

In [2]:
# load data to dataframe
file_path = "Travel details dataset.csv"
travel_data = pd.read_csv(file_path)

# check the dataframe is working
travel_data.head()

,Trip ID,Destination,Start date,End date,Duration (days),Traveler name,Traveler age,Traveler gender,Traveler nationality,Accommodation type,Accommodation cost,Transportation type,Transportation cost
0,1,"London, UK",5/1/2023,5/8/2023,7.0,John Smith,35.0,Male,American,Hotel,1200,Flight,600
1,2,"Phuket, Thailand",6/15/2023,6/20/2023,5.0,Jane Doe,28.0,Female,Canadian,Resort,800,Flight,500
2,3,"Bali, Indonesia",7/1/2023,7/8/2023,7.0,David Lee,45.0,Male,Korean,Villa,1000,Flight,700
3,4,"New York, USA",8/15/2023,8/29/2023,14.0,Sarah Johnson,29.0,Female,British,Hotel,2000,Flight,1000
4,5,"Tokyo, Japan",9/10/2023,9/17/2023,7.0,Kim Nguyen,26.0,Female,Vietnamese,Airbnb,700,Train,200

## Exploratory Analysis

In [3]:
## check the last rows of data
travel_data.tail()

,Trip ID,Destination,Start date,End date,Duration (days),Traveler name,Traveler age,Traveler gender,Traveler nationality,Accommodation type,Accommodation cost,Transportation type,Transportation cost
134,135,"Rio de Janeiro, Brazil",8/1/2023,8/10/2023,9.0,Jose Perez,37.0,Male,Brazilian,Hostel,2500,Car,2000
135,136,"Vancouver, Canada",8/15/2023,8/21/2023,6.0,Emma Wilson,29.0,Female,Canadian,Hotel,5000,Airplane,3000
136,137,"Bangkok, Thailand",9/1/2023,9/8/2023,7.0,Ryan Chen,34.0,Male,Chinese,Hostel,2000,Train,1000
137,138,"Barcelona, Spain",9/15/2023,9/22/2023,7.0,Sofia Rodriguez,25.0,Female,Spanish,Airbnb,6000,Airplane,2500
138,139,"Auckland, New Zealand",10/1/2023,10/8/2023,7.0,William Brown,39.0,Male,New Zealander,Hotel,7000,Train,2500

In [4]:
## check the size of the frame
travel_data.shape

(139, 13)

In [5]:
## data decription
travel_data.describe

<bound method NDFrame.describe of      Trip ID             Destination Start date   End date  Duration (days)  \
0          1              London, UK   5/1/2023   5/8/2023              7.0
1          2        Phuket, Thailand  6/15/2023  6/20/2023              5.0
2          3         Bali, Indonesia   7/1/2023   7/8/2023              7.0
3          4           New York, USA  8/15/2023  8/29/2023             14.0
4          5            Tokyo, Japan  9/10/2023  9/17/2023              7.0
..       ...                     ...        ...        ...              ...
134      135  Rio de Janeiro, Brazil   8/1/2023  8/10/2023              9.0
135      136       Vancouver, Canada  8/15/2023  8/21/2023              6.0
136      137       Bangkok, Thailand   9/1/2023   9/8/2023              7.0
137      138        Barcelona, Spain  9/15/2023  9/22/2023              7.0
138      139   Auckland, New Zealand  10/1/2023  10/8/2023              7.0

       Traveler name  Traveler age Traveler gender Traveler nationality  \
0         John Smith          35.0            Male             American
1           Jane Doe          28.0          Female             Canadian
2          David Lee          45.0            Male               Korean
3      Sarah Johnson          29.0          Female              British
4         Kim Nguyen          26.0          Female           Vietnamese
..               ...           ...             ...                  ...
134       Jose Perez          37.0            Male            Brazilian
135      Emma Wilson          29.0          Female             Canadian
136        Ryan Chen          34.0            Male              Chinese
137  Sofia Rodriguez          25.0          Female              Spanish
138    William Brown          39.0            Male        New Zealander

    Accommodation type Accommodation cost Transportation type  \
0                Hotel               1200              Flight
1               Resort                800              Flight
2                Villa               1000              Flight
3                Hotel               2000              Flight
4               Airbnb                700               Train
..                 ...                ...                 ...
134             Hostel               2500                 Car
135              Hotel               5000            Airplane
136             Hostel               2000               Train
137             Airbnb               6000            Airplane
138              Hotel               7000               Train

    Transportation cost
0                   600
1                   500
2                   700
3                  1000
4                   200
..                  ...
134                2000
135                3000
136                1000
137                2500
138                2500

[139 rows x 13 columns]>

In [6]:
## check for null values
travel_data.isnull().sum()

Trip ID                 0
Destination             2
Start date              2
End date                2
Duration (days)         2
Traveler name           2
Traveler age            2
Traveler gender         2
Traveler nationality    2
Accommodation type      2
Accommodation cost      2
Transportation type     3
Transportation cost     3
dtype: int64

In [7]:
## check top 5 destinations
travel_data['Destination'].value_counts()[0:5]

Destination
Paris            7
Bali             7
Tokyo, Japan     7
Paris, France    7
Tokyo            5
Name: count, dtype: int64

In [8]:
## checking the top 5 nationalities
travel_data['Traveler nationality'].value_counts()[0:5]

Traveler nationality
American      24
Korean        13
British       12
Canadian       9
Australian     8
Name: count, dtype: int64

In [9]:
## checking accomadation cost as some of the values looked different when checking the csv
travel_data['Accommodation cost'].value_counts()[0:10]

Accommodation cost
1200       7
900        7
800        7
1000       6
1500       5
$500       5
$1,200     5
$600       4
500        4
$800       4
Name: count, dtype: int64

In [10]:
## check the transportation type to see if it needs tidying
travel_data['Transportation type'].unique()

array(['Flight', 'Train', 'Plane', 'Bus', 'Car rental', 'Subway', nan,
       'Car', 'Ferry', 'Airplane'], dtype=object)

## Clean Data
- Remove the few null values found in exploration
- keep consistency with the 'Accommodation cost' and 'Transport cost' fields as some values contain a dollar sign $ and some dont..
- Some duplicate / same destination names found when performing value counts i.e. destination = a. paris & b. paris, france => being different
- duplicate 'transportation' types such as 'airplane' 'plane' and 'flight' all meaning the same thing

In [11]:
# removing null values - happy to use dropna() as it only remvoes 3 rows
travel_data = travel_data.dropna()
travel_data.shape

(136, 13)

In [12]:
## get rid of dollar symbols and commas in the 'cost' fields and making sure its type int
travel_data['Accommodation cost'] = travel_data['Accommodation cost']\
                                    .str.replace('$','')\
                                    .str.replace(',','')\
                                    .str.replace(' ','')\
                                    .str.replace('USD','')\
                                    .astype(int)

# cehcking if this made a difference to the counts from earliers exploratory analysis
travel_data['Accommodation cost'].value_counts()[0:10]

C:\Users\jorda\AppData\Local\Temp\ipykernel_16448\2194180787.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  travel_data['Accommodation cost'] = travel_data['Accommodation cost']\

Accommodation cost
1200    14
800     14
900     13
1000    11
500     11
400     10
700      8
1500     8
600      7
300      4
Name: count, dtype: int64

In [13]:
## get rid of dollar symbols, comma, spaces and 'USD' text from the 'Travel cost' field
travel_data['Transportation cost'] = travel_data['Transportation cost']\
                                    .str.replace('$','')\
                                    .str.replace(',','')\
                                    .str.replace(' ','')\
                                    .str.replace('USD','')\
                                    .astype(int)

# cehcking if this made a difference to the counts from earliers exploratory analysis
travel_data['Transportation cost'].value_counts()[0:10]

C:\Users\jorda\AppData\Local\Temp\ipykernel_16448\3210725342.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  travel_data['Transportation cost'] = travel_data['Transportation cost']\

Transportation cost
800     16
700     15
500     11
150     11
100     10
200     10
600      9
300      9
1000     8
400      7
Name: count, dtype: int64

In [14]:
## tidying destination names using regular expression
# making a new column 'City' as I might add the country later and check by same destination > different city etc..,
travel_data['City'] = travel_data['Destination'].str.extract(r'(^[^,]+)', expand = False)
print(travel_data)

     Trip ID             Destination Start date   End date  Duration (days)  \
0          1              London, UK   5/1/2023   5/8/2023              7.0
1          2        Phuket, Thailand  6/15/2023  6/20/2023              5.0
2          3         Bali, Indonesia   7/1/2023   7/8/2023              7.0
3          4           New York, USA  8/15/2023  8/29/2023             14.0
4          5            Tokyo, Japan  9/10/2023  9/17/2023              7.0
..       ...                     ...        ...        ...              ...
134      135  Rio de Janeiro, Brazil   8/1/2023  8/10/2023              9.0
135      136       Vancouver, Canada  8/15/2023  8/21/2023              6.0
136      137       Bangkok, Thailand   9/1/2023   9/8/2023              7.0
137      138        Barcelona, Spain  9/15/2023  9/22/2023              7.0
138      139   Auckland, New Zealand  10/1/2023  10/8/2023              7.0

       Traveler name  Traveler age Traveler gender Traveler nationality  \
0         John Smith          35.0            Male             American
1           Jane Doe          28.0          Female             Canadian
2          David Lee          45.0            Male               Korean
3      Sarah Johnson          29.0          Female              British
4         Kim Nguyen          26.0          Female           Vietnamese
..               ...           ...             ...                  ...
134       Jose Perez          37.0            Male            Brazilian
135      Emma Wilson          29.0          Female             Canadian
136        Ryan Chen          34.0            Male              Chinese
137  Sofia Rodriguez          25.0          Female              Spanish
138    William Brown          39.0            Male        New Zealander

    Accommodation type  Accommodation cost Transportation type  \
0                Hotel                1200              Flight
1               Resort                 800              Flight
2                Villa                1000              Flight
3                Hotel                2000              Flight
4               Airbnb                 700               Train
..                 ...                 ...                 ...
134             Hostel                2500                 Car
135              Hotel                5000            Airplane
136             Hostel                2000               Train
137             Airbnb                6000            Airplane
138              Hotel                7000               Train

     Transportation cost            City
0                    600          London
1                    500          Phuket
2                    700            Bali
3                   1000        New York
4                    200           Tokyo
..                   ...             ...
134                 2000  Rio de Janeiro
135                 3000       Vancouver
136                 1000         Bangkok
137                 2500       Barcelona
138                 2500        Auckland

[136 rows x 14 columns]

C:\Users\jorda\AppData\Local\Temp\ipykernel_16448\3466460753.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  travel_data['City'] = travel_data['Destination'].str.extract(r'(^[^,]+)', expand = False)

In [15]:
## checking 'city exclusively
print(travel_data['City'])

0              London
1              Phuket
2                Bali
3            New York
4               Tokyo
            ...
134    Rio de Janeiro
135         Vancouver
136           Bangkok
137         Barcelona
138          Auckland
Name: City, Length: 136, dtype: object

In [16]:
## tidying the 'Transportation type' column to have consistent values

# having issues altering the flight values using .replace so trying using a dictionary
replacements = {
    'Flight':'Airplane',
    'Plane':'Airplane'
}

# using .replace with the dictionary instead
travel_data['Transportation type'] = travel_data['Transportation type'].replace(replacements, regex = True)
travel_data['Transportation type'].unique()

C:\Users\jorda\AppData\Local\Temp\ipykernel_16448\2460966835.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  travel_data['Transportation type'] = travel_data['Transportation type'].replace(replacements, regex = True)

array(['Airplane', 'Train', 'Bus', 'Car rental', 'Subway', 'Car', 'Ferry'],
      dtype=object)

### Saving clean data to a new csv to work from

In [17]:
# Saving cleaned data to CSV - commented out in case of rerun
#travel_data.to_csv('travel_details_dataset_cleaned.csv', index = False)

## Data Analysis

In [19]:
# imports for analysis phase
!pip install matplotlib seaborn
import matplotlib.pyplot as plt
import seaborn as sns

[notice] A new release of pip is available: 23.3.2 -> 24.0
[notice] To update, run: python.exe -m pip install --upgrade pip

Collecting matplotlib
  Downloading matplotlib-3.9.0-cp312-cp312-win_amd64.whl.metadata (11 kB)
Collecting seaborn
  Downloading seaborn-0.13.2-py3-none-any.whl.metadata (5.4 kB)
Collecting contourpy>=1.0.1 (from matplotlib)
  Downloading contourpy-1.2.1-cp312-cp312-win_amd64.whl.metadata (5.8 kB)
Collecting cycler>=0.10 (from matplotlib)
  Downloading cycler-0.12.1-py3-none-any.whl.metadata (3.8 kB)
Collecting fonttools>=4.22.0 (from matplotlib)
  Downloading fonttools-4.52.4-cp312-cp312-win_amd64.whl.metadata (164 kB)
     ---------------------------------------- 0.0/165.0 kB ? eta -:--:--
     ------- ------------------------------- 30.7/165.0 kB 1.4 MB/s eta 0:00:01
     ------- ------------------------------- 30.7/165.0 kB 1.4 MB/s eta 0:00:01
     ------- ------------------------------- 30.7/165.0 kB 1.4 MB/s eta 0:00:01
     ------- ------------------------------- 30.7/165.0 kB 1.4 MB/s eta 0:00:01
     ------- ------------------------------- 30.7/165.0 kB 1.4 MB/s eta 0:00:01
     ------- ------------------------------- 30.7/165.0 kB 1.4 MB/s eta 0:00:01
     --------- --------------------------- 41.0/165.0 kB 109.3 kB/s eta 0:00:02
     -------------------------- --------- 122.9/165.0 kB 327.4 kB/s eta 0:00:01
     ------------------------------------ 165.0/165.0 kB 396.7 kB/s eta 0:00:00
Collecting kiwisolver>=1.3.1 (from matplotlib)
  Downloading kiwisolver-1.4.5-cp312-cp312-win_amd64.whl.metadata (6.5 kB)
Requirement already satisfied: numpy>=1.23 in c:\users\jorda\appdata\local\programs\python\python312\lib\site-packages (from matplotlib) (1.26.3)
Requirement already satisfied: packaging>=20.0 in c:\users\jorda\appdata\roaming\python\python312\site-packages (from matplotlib) (23.2)
Collecting pillow>=8 (from matplotlib)
  Downloading pillow-10.3.0-cp312-cp312-win_amd64.whl.metadata (9.4 kB)
Collecting pyparsing>=2.3.1 (from matplotlib)
  Downloading pyparsing-3.1.2-py3-none-any.whl.metadata (5.1 kB)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\jorda\appdata\roaming\python\python312\site-packages (from matplotlib) (2.8.2)
Requirement already satisfied: pandas>=1.2 in c:\users\jorda\appdata\local\programs\python\python312\lib\site-packages (from seaborn) (2.1.4)
Requirement already satisfied: pytz>=2020.1 in c:\users\jorda\appdata\local\programs\python\python312\lib\site-packages (from pandas>=1.2->seaborn) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\jorda\appdata\local\programs\python\python312\lib\site-packages (from pandas>=1.2->seaborn) (2023.4)
Requirement already satisfied: six>=1.5 in c:\users\jorda\appdata\roaming\python\python312\site-packages (from python-dateutil>=2.7->matplotlib) (1.16.0)
Downloading matplotlib-3.9.0-cp312-cp312-win_amd64.whl (8.0 MB)
   ---------------------------------------- 0.0/8.0 MB ? eta -:--:--
   ---------------------------------------- 0.1/8.0 MB 2.0 MB/s eta 0:00:04
    --------------------------------------- 0.1/8.0 MB 1.6 MB/s eta 0:00:05
   - -------------------------------------- 0.2/8.0 MB 1.7 MB/s eta 0:00:05
   - -------------------------------------- 0.3/8.0 MB 1.5 MB/s eta 0:00:05
   - -------------------------------------- 0.3/8.0 MB 1.6 MB/s eta 0:00:05
   -- ------------------------------------- 0.4/8.0 MB 1.7 MB/s eta 0:00:05
   -- ------------------------------------- 0.5/8.0 MB 1.6 MB/s eta 0:00:05
   -- ------------------------------------- 0.6/8.0 MB 1.7 MB/s eta 0:00:05
   --- ------------------------------------ 0.7/8.0 MB 1.7 MB/s eta 0:00:05
   --- ------------------------------------ 0.7/8.0 MB 1.6 MB/s eta 0:00:05
   --- ------------------------------------ 0.7/8.0 MB 1.5 MB/s eta 0:00:05
   --- ------------------------------------ 0.7/8.0 MB 1.4 MB/s eta 0:00:06
   ---- ----------------------------------- 0.8/8.0 MB 1.4 MB/s eta 0:00:06
   ---- ----------------------------------- 0.9/8.0 MB 1.5 MB/s eta 0:00:05
   ---- ----------------------------------- 1.0/8.0 MB 1.5 MB/s eta 0:00:05
   ---- ----------------------------------- 1.0/8.0 MB 1.4 MB/s eta 0:00:05
   ---- ----------------------------------- 1.0/8.0 MB 1.3 MB/s eta 0:00:06
   ---- ----------------------------------- 1.0/8.0 MB 1.3 MB/s eta 0:00:06
   ----- ---------------------------------- 1.1/8.0 MB 1.3 MB/s eta 0:00:06
   ----- ---------------------------------- 1.1/8.0 MB 1.3 MB/s eta 0:00:06
   ----- ---------------------------------- 1.2/8.0 MB 1.3 MB/s eta 0:00:06
   ------ --------------------------------- 1.3/8.0 MB 1.3 MB/s eta 0:00:06
   ------ --------------------------------- 1.3/8.0 MB 1.3 MB/s eta 0:00:06
   ------ --------------------------------- 1.4/8.0 MB 1.3 MB/s eta 0:00:06
   ------- -------------------------------- 1.5/8.0 MB 1.3 MB/s eta 0:00:06
   ------- -------------------------------- 1.5/8.0 MB 1.3 MB/s eta 0:00:05
   ------- -------------------------------- 1.6/8.0 MB 1.3 MB/s eta 0:00:05
   -------- ------------------------------- 1.7/8.0 MB 1.3 MB/s eta 0:00:05
   --------- ------------------------------ 1.8/8.0 MB 1.4 MB/s eta 0:00:05
   --------- ------------------------------ 1.9/8.0 MB 1.4 MB/s eta 0:00:05
   ---------- ----------------------------- 2.0/8.0 MB 1.5 MB/s eta 0:00:05
   ---------- ----------------------------- 2.1/8.0 MB 1.5 MB/s eta 0:00:04
   ----------- ---------------------------- 2.2/8.0 MB 1.5 MB/s eta 0:00:04
   ----------- ---------------------------- 2.2/8.0 MB 1.5 MB/s eta 0:00:04
   ----------- ---------------------------- 2.3/8.0 MB 1.5 MB/s eta 0:00:04
   ----------- ---------------------------- 2.4/8.0 MB 1.5 MB/s eta 0:00:04
   ------------ --------------------------- 2.4/8.0 MB 1.5 MB/s eta 0:00:04
   ------------ --------------------------- 2.5/8.0 MB 1.5 MB/s eta 0:00:04
   ------------ --------------------------- 2.6/8.0 MB 1.5 MB/s eta 0:00:04
   ------------- -------------------------- 2.6/8.0 MB 1.5 MB/s eta 0:00:04
   ------------- -------------------------- 2.6/8.0 MB 1.5 MB/s eta 0:00:04
   ------------- -------------------------- 2.6/8.0 MB 1.5 MB/s eta 0:00:04
   ------------- -------------------------- 2.8/8.0 MB 1.5 MB/s eta 0:00:04
   -------------- ------------------------- 2.8/8.0 MB 1.5 MB/s eta 0:00:04
   --------------- ------------------------ 3.0/8.0 MB 1.5 MB/s eta 0:00:04
   --------------- ------------------------ 3.0/8.0 MB 1.5 MB/s eta 0:00:04
   --------------- ------------------------ 3.0/8.0 MB 1.5 MB/s eta 0:00:04
   --------------- ------------------------ 3.1/8.0 MB 1.5 MB/s eta 0:00:04
   --------------- ------------------------ 3.1/8.0 MB 1.4 MB/s eta 0:00:04
   ---------------- ----------------------- 3.2/8.0 MB 1.5 MB/s eta 0:00:04
   ---------------- ----------------------- 3.3/8.0 MB 1.5 MB/s eta 0:00:04
   ----------------- ---------------------- 3.4/8.0 MB 1.5 MB/s eta 0:00:04
   ----------------- ---------------------- 3.5/8.0 MB 1.5 MB/s eta 0:00:04
   ----------------- ---------------------- 3.5/8.0 MB 1.5 MB/s eta 0:00:04
   ------------------ --------------------- 3.6/8.0 MB 1.5 MB/s eta 0:00:03
   ------------------ --------------------- 3.7/8.0 MB 1.5 MB/s eta 0:00:03
   ------------------- -------------------- 3.8/8.0 MB 1.5 MB/s eta 0:00:03
   ------------------- -------------------- 3.9/8.0 MB 1.5 MB/s eta 0:00:03
   -------------------- ------------------- 4.0/8.0 MB 1.5 MB/s eta 0:00:03
   -------------------- ------------------- 4.1/8.0 MB 1.5 MB/s eta 0:00:03
   -------------------- ------------------- 4.1/8.0 MB 1.5 MB/s eta 0:00:03
   --------------------- ------------------ 4.2/8.0 MB 1.5 MB/s eta 0:00:03
   --------------------- ------------------ 4.3/8.0 MB 1.5 MB/s eta 0:00:03
   --------------------- ------------------ 4.3/8.0 MB 1.5 MB/s eta 0:00:03
   ---------------------- ----------------- 4.4/8.0 MB 1.5 MB/s eta 0:00:03
   ---------------------- ----------------- 4.5/8.0 MB 1.5 MB/s eta 0:00:03
   ---------------------- ----------------- 4.5/8.0 MB 1.5 MB/s eta 0:00:03
   ----------------------- ---------------- 4.6/8.0 MB 1.5 MB/s eta 0:00:03
   ----------------------- ---------------- 4.7/8.0 MB 1.6 MB/s eta 0:00:03
   ----------------------- ---------------- 4.8/8.0 MB 1.5 MB/s eta 0:00:03
   ------------------------ --------------- 4.8/8.0 MB 1.5 MB/s eta 0:00:03
   ------------------------ --------------- 4.9/8.0 MB 1.5 MB/s eta 0:00:03
   ------------------------ --------------- 4.9/8.0 MB 1.5 MB/s eta 0:00:03
   ------------------------ --------------- 5.0/8.0 MB 1.5 MB/s eta 0:00:02
   ------------------------- -------------- 5.0/8.0 MB 1.5 MB/s eta 0:00:02
   ------------------------- -------------- 5.1/8.0 MB 1.5 MB/s eta 0:00:02
   ------------------------- -------------- 5.1/8.0 MB 1.5 MB/s eta 0:00:02
   -------------------------- ------------- 5.2/8.0 MB 1.5 MB/s eta 0:00:02
   -------------------------- ------------- 5.3/8.0 MB 1.5 MB/s eta 0:00:02
   -------------------------- ------------- 5.3/8.0 MB 1.5 MB/s eta 0:00:02
   --------------------------- ------------ 5.4/8.0 MB 1.5 MB/s eta 0:00:02
   --------------------------- ------------ 5.5/8.0 MB 1.5 MB/s eta 0:00:02
   --------------------------- ------------ 5.5/8.0 MB 1.5 MB/s eta 0:00:02
   ---------------------------- ----------- 5.6/8.0 MB 1.5 MB/s eta 0:00:02
   ---------------------------- ----------- 5.6/8.0 MB 1.5 MB/s eta 0:00:02
   ---------------------------- ----------- 5.7/8.0 MB 1.5 MB/s eta 0:00:02
   ----------------------------- ---------- 5.8/8.0 MB 1.5 MB/s eta 0:00:02
   ----------------------------- ---------- 5.9/8.0 MB 1.5 MB/s eta 0:00:02
   ----------------------------- ---------- 5.9/8.0 MB 1.5 MB/s eta 0:00:02
   ------------------------------ --------- 6.0/8.0 MB 1.5 MB/s eta 0:00:02
   ------------------------------ --------- 6.1/8.0 MB 1.5 MB/s eta 0:00:02
   ------------------------------ --------- 6.1/8.0 MB 1.5 MB/s eta 0:00:02
   ------------------------------- -------- 6.2/8.0 MB 1.5 MB/s eta 0:00:02
   ------------------------------- -------- 6.2/8.0 MB 1.5 MB/s eta 0:00:02
   ------------------------------- -------- 6.3/8.0 MB 1.5 MB/s eta 0:00:02
   ------------------------------- -------- 6.3/8.0 MB 1.5 MB/s eta 0:00:02
   -------------------------------- ------- 6.4/8.0 MB 1.5 MB/s eta 0:00:02
   -------------------------------- ------- 6.5/8.0 MB 1.5 MB/s eta 0:00:01
   -------------------------------- ------- 6.5/8.0 MB 1.5 MB/s eta 0:00:01
   --------------------------------- ------ 6.6/8.0 MB 1.5 MB/s eta 0:00:01
   --------------------------------- ------ 6.7/8.0 MB 1.5 MB/s eta 0:00:01
   --------------------------------- ------ 6.8/8.0 MB 1.5 MB/s eta 0:00:01
   ---------------------------------- ----- 6.9/8.0 MB 1.5 MB/s eta 0:00:01
   ---------------------------------- ----- 6.9/8.0 MB 1.5 MB/s eta 0:00:01
   ---------------------------------- ----- 7.0/8.0 MB 1.5 MB/s eta 0:00:01
   ----------------------------------- ---- 7.0/8.0 MB 1.5 MB/s eta 0:00:01
   ----------------------------------- ---- 7.1/8.0 MB 1.5 MB/s eta 0:00:01
   ----------------------------------- ---- 7.2/8.0 MB 1.5 MB/s eta 0:00:01
   ------------------------------------ --- 7.3/8.0 MB 1.5 MB/s eta 0:00:01
   ------------------------------------ --- 7.3/8.0 MB 1.5 MB/s eta 0:00:01
   ------------------------------------- -- 7.4/8.0 MB 1.5 MB/s eta 0:00:01
   ------------------------------------- -- 7.5/8.0 MB 1.5 MB/s eta 0:00:01
   ------------------------------------- -- 7.5/8.0 MB 1.5 MB/s eta 0:00:01
   -------------------------------------- - 7.6/8.0 MB 1.5 MB/s eta 0:00:01
   -------------------------------------- - 7.7/8.0 MB 1.5 MB/s eta 0:00:01
   -------------------------------------- - 7.8/8.0 MB 1.5 MB/s eta 0:00:01
   ---------------------------------------  7.8/8.0 MB 1.5 MB/s eta 0:00:01
   ---------------------------------------  7.9/8.0 MB 1.5 MB/s eta 0:00:01
   ---------------------------------------  7.9/8.0 MB 1.5 MB/s eta 0:00:01
   ---------------------------------------  8.0/8.0 MB 1.5 MB/s eta 0:00:01
   ---------------------------------------- 8.0/8.0 MB 1.5 MB/s eta 0:00:00
Downloading seaborn-0.13.2-py3-none-any.whl (294 kB)
   ---------------------------------------- 0.0/294.9 kB ? eta -:--:--
   -------- ------------------------------- 61.4/294.9 kB 1.7 MB/s eta 0:00:01
   --------------- ------------------------ 112.6/294.9 kB 1.6 MB/s eta 0:00:01
   ----------------------- ---------------- 174.1/294.9 kB 1.7 MB/s eta 0:00:01
   --------------------------------- ------ 245.8/294.9 kB 1.7 MB/s eta 0:00:01
   ---------------------------------------- 294.9/294.9 kB 1.4 MB/s eta 0:00:00
Downloading contourpy-1.2.1-cp312-cp312-win_amd64.whl (189 kB)
   ---------------------------------------- 0.0/189.9 kB ? eta -:--:--
   ------------ --------------------------- 61.4/189.9 kB 1.7 MB/s eta 0:00:01
   ----------------------- ---------------- 112.6/189.9 kB 1.3 MB/s eta 0:00:01
   -------------------------------------- - 184.3/189.9 kB 1.4 MB/s eta 0:00:01
   ---------------------------------------- 189.9/189.9 kB 1.4 MB/s eta 0:00:00
Downloading cycler-0.12.1-py3-none-any.whl (8.3 kB)
Downloading fonttools-4.52.4-cp312-cp312-win_amd64.whl (2.2 MB)
   ---------------------------------------- 0.0/2.2 MB ? eta -:--:--
   - -------------------------------------- 0.1/2.2 MB 1.7 MB/s eta 0:00:02
   -- ------------------------------------- 0.2/2.2 MB 1.5 MB/s eta 0:00:02
   --- ------------------------------------ 0.2/2.2 MB 1.6 MB/s eta 0:00:02
   ---- ----------------------------------- 0.3/2.2 MB 1.4 MB/s eta 0:00:02
   ----- ---------------------------------- 0.3/2.2 MB 1.4 MB/s eta 0:00:02
   ------- -------------------------------- 0.4/2.2 MB 1.5 MB/s eta 0:00:02
   -------- ------------------------------- 0.5/2.2 MB 1.5 MB/s eta 0:00:02
   ---------- ----------------------------- 0.6/2.2 MB 1.5 MB/s eta 0:00:02
   ----------- ---------------------------- 0.6/2.2 MB 1.5 MB/s eta 0:00:02
   ------------ --------------------------- 0.7/2.2 MB 1.6 MB/s eta 0:00:01
   -------------- ------------------------- 0.8/2.2 MB 1.6 MB/s eta 0:00:01
   --------------- ------------------------ 0.9/2.2 MB 1.6 MB/s eta 0:00:01
   ----------------- ---------------------- 1.0/2.2 MB 1.7 MB/s eta 0:00:01
   ------------------- -------------------- 1.1/2.2 MB 1.7 MB/s eta 0:00:01
   --------------------- ------------------ 1.2/2.2 MB 1.7 MB/s eta 0:00:01
   ---------------------- ----------------- 1.3/2.2 MB 1.7 MB/s eta 0:00:01
   ------------------------ --------------- 1.3/2.2 MB 1.7 MB/s eta 0:00:01
   ------------------------- -------------- 1.4/2.2 MB 1.7 MB/s eta 0:00:01
   -------------------------- ------------- 1.5/2.2 MB 1.7 MB/s eta 0:00:01
   ----------------------------- ---------- 1.6/2.2 MB 1.8 MB/s eta 0:00:01
   ------------------------------ --------- 1.7/2.2 MB 1.8 MB/s eta 0:00:01
   -------------------------------- ------- 1.8/2.2 MB 1.8 MB/s eta 0:00:01
   ---------------------------------- ----- 1.9/2.2 MB 1.8 MB/s eta 0:00:01
   ---------------------------------- ----- 1.9/2.2 MB 1.7 MB/s eta 0:00:01
   ----------------------------------- ---- 1.9/2.2 MB 1.7 MB/s eta 0:00:01
   ------------------------------------ --- 2.0/2.2 MB 1.7 MB/s eta 0:00:01
   -------------------------------------- - 2.1/2.2 MB 1.7 MB/s eta 0:00:01
   ---------------------------------------  2.2/2.2 MB 1.7 MB/s eta 0:00:01
   ---------------------------------------- 2.2/2.2 MB 1.7 MB/s eta 0:00:00
Downloading kiwisolver-1.4.5-cp312-cp312-win_amd64.whl (56 kB)
   ---------------------------------------- 0.0/56.0 kB ? eta -:--:--
   ---------------------------------------- 56.0/56.0 kB 1.5 MB/s eta 0:00:00
Downloading pillow-10.3.0-cp312-cp312-win_amd64.whl (2.5 MB)
   ---------------------------------------- 0.0/2.5 MB ? eta -:--:--
   - -------------------------------------- 0.1/2.5 MB ? eta -:--:--
   - -------------------------------------- 0.1/2.5 MB 2.2 MB/s eta 0:00:02
   -- ------------------------------------- 0.2/2.5 MB 1.5 MB/s eta 0:00:02
   ---- ----------------------------------- 0.3/2.5 MB 1.7 MB/s eta 0:00:02
   ----- ---------------------------------- 0.4/2.5 MB 1.9 MB/s eta 0:00:02
   ------- -------------------------------- 0.5/2.5 MB 1.7 MB/s eta 0:00:02
   ------- -------------------------------- 0.5/2.5 MB 1.7 MB/s eta 0:00:02
   --------- ------------------------------ 0.6/2.5 MB 1.6 MB/s eta 0:00:02
   ---------- ----------------------------- 0.6/2.5 MB 1.6 MB/s eta 0:00:02
   ----------- ---------------------------- 0.7/2.5 MB 1.7 MB/s eta 0:00:02
   ----------- ---------------------------- 0.7/2.5 MB 1.7 MB/s eta 0:00:02
   ------------ --------------------------- 0.8/2.5 MB 1.5 MB/s eta 0:00:02
   ------------- -------------------------- 0.9/2.5 MB 1.5 MB/s eta 0:00:02
   -------------- ------------------------- 0.9/2.5 MB 1.5 MB/s eta 0:00:02
   ---------------- ----------------------- 1.1/2.5 MB 1.6 MB/s eta 0:00:01
   ------------------ --------------------- 1.2/2.5 MB 1.7 MB/s eta 0:00:01
   -------------------- ------------------- 1.3/2.5 MB 1.7 MB/s eta 0:00:01
   --------------------- ------------------ 1.4/2.5 MB 1.7 MB/s eta 0:00:01
   ----------------------- ---------------- 1.5/2.5 MB 1.8 MB/s eta 0:00:01
   ------------------------ --------------- 1.6/2.5 MB 1.7 MB/s eta 0:00:01
   --------------------------- ------------ 1.7/2.5 MB 1.8 MB/s eta 0:00:01
   ---------------------------- ----------- 1.8/2.5 MB 1.8 MB/s eta 0:00:01
   ------------------------------ --------- 1.9/2.5 MB 1.8 MB/s eta 0:00:01
   ------------------------------- -------- 2.0/2.5 MB 1.9 MB/s eta 0:00:01
   -------------------------------- ------- 2.1/2.5 MB 1.9 MB/s eta 0:00:01
   ---------------------------------- ----- 2.2/2.5 MB 1.9 MB/s eta 0:00:01
   ----------------------------------- ---- 2.3/2.5 MB 1.9 MB/s eta 0:00:01
   ------------------------------------- -- 2.4/2.5 MB 1.9 MB/s eta 0:00:01
   -------------------------------------- - 2.5/2.5 MB 1.9 MB/s eta 0:00:01
   ---------------------------------------  2.5/2.5 MB 1.9 MB/s eta 0:00:01
   ---------------------------------------- 2.5/2.5 MB 1.9 MB/s eta 0:00:00
Downloading pyparsing-3.1.2-py3-none-any.whl (103 kB)
   ---------------------------------------- 0.0/103.2 kB ? eta -:--:--
   ------------------------------- -------- 81.9/103.2 kB 2.3 MB/s eta 0:00:01
   ---------------------------------------- 103.2/103.2 kB 2.0 MB/s eta 0:00:00
Installing collected packages: pyparsing, pillow, kiwisolver, fonttools, cycler, contourpy, matplotlib, seaborn
Successfully installed contourpy-1.2.1 cycler-0.12.1 fonttools-4.52.4 kiwisolver-1.4.5 matplotlib-3.9.0 pillow-10.3.0 pyparsing-3.1.2 seaborn-0.13.2

In [20]:
# load data to dataframe
file_path = "travel_details_dataset_cleaned.csv"
travel_data = pd.read_csv(file_path)

# check the dataframe is working
travel_data.head()

,Trip ID,Destination,Start date,End date,Duration (days),Traveler name,Traveler age,Traveler gender,Traveler nationality,Accommodation type,Accommodation cost,Transportation type,Transportation cost,City
0,1,"London, UK",5/1/2023,5/8/2023,7.0,John Smith,35.0,Male,American,Hotel,1200,Airplane,600,London
1,2,"Phuket, Thailand",6/15/2023,6/20/2023,5.0,Jane Doe,28.0,Female,Canadian,Resort,800,Airplane,500,Phuket
2,3,"Bali, Indonesia",7/1/2023,7/8/2023,7.0,David Lee,45.0,Male,Korean,Villa,1000,Airplane,700,Bali
3,4,"New York, USA",8/15/2023,8/29/2023,14.0,Sarah Johnson,29.0,Female,British,Hotel,2000,Airplane,1000,New York
4,5,"Tokyo, Japan",9/10/2023,9/17/2023,7.0,Kim Nguyen,26.0,Female,Vietnamese,Airbnb,700,Train,200,Tokyo

### Statistics

In [38]:
# calculating the mean median and mode for the accommodation
mean_accommodation_cost = travel_data['Accommodation cost'].mean()
median_accommodation_cost = travel_data['Accommodation cost'].median()
mode_accommodation_cost = travel_data['Accommodation cost'].mode()

print("___ACCOMMODATION STATS___")
print("mean:", mean_accommodation_cost)
print("median:",median_accommodation_cost)
print("mode:",mode_accommodation_cost)

# and transportation costs
mean_transportation_cost = travel_data['Transportation cost'].mean()
median_transportation_cost = travel_data['Transportation cost'].median()
mode_transportation_cost = travel_data['Transportation cost'].mode()

print("___TRANSPORTATION STATS___")
print("mean:", mean_transportation_cost)
print("median:",median_transportation_cost)
print("mode:",mode_transportation_cost)

___ACCOMMODATION STATS___
mean: 1253.5294117647059
median: 900.0
mode: 0     800
1    1200
Name: Accommodation cost, dtype: int64
___TRANSPORTATION STATS___
mean: 645.1838235294117
median: 550.0
mode: 0    800
Name: Transportation cost, dtype: int64