# Analysis of travel dataset
This dataset was acquired from Kaggle and is a randomly generated list of data and **not** collected from real world sources.
[Dataset Credit: ](https://www.kaggle.com/datasets/rkiattisak/traveler-trip-data)

**Goals:**
1. Setup and Imports
    - Will be using Pandas and numpy for handling data frames, other imports for graphs etc.,
2. Load the dataset
    - Into a pandas dataframe to have a look at it
3. Explore Data
    - Go through current dataframe do some exploratory analysis
    - Think about any feature creation which could be included?
4. Clean Data
    - Remove anything we dont require and tidy text where possible
5. Analysis of Data
    - Perform some analysis on dataset

## Setup

In [1]:
## Imports
import pandas as pd
import numpy as np

In [4]:
# load data to dataframe
file_path = "Travel details dataset.csv"
travel_data = pd.read_csv(file_path)

# check the dataframe is working
travel_data.head()

,Trip ID,Destination,Start date,End date,Duration (days),Traveler name,Traveler age,Traveler gender,Traveler nationality,Accommodation type,Accommodation cost,Transportation type,Transportation cost
0,1,"London, UK",5/1/2023,5/8/2023,7.0,John Smith,35.0,Male,American,Hotel,1200,Flight,600
1,2,"Phuket, Thailand",6/15/2023,6/20/2023,5.0,Jane Doe,28.0,Female,Canadian,Resort,800,Flight,500
2,3,"Bali, Indonesia",7/1/2023,7/8/2023,7.0,David Lee,45.0,Male,Korean,Villa,1000,Flight,700
3,4,"New York, USA",8/15/2023,8/29/2023,14.0,Sarah Johnson,29.0,Female,British,Hotel,2000,Flight,1000
4,5,"Tokyo, Japan",9/10/2023,9/17/2023,7.0,Kim Nguyen,26.0,Female,Vietnamese,Airbnb,700,Train,200

## Exploratory Analysis

In [5]:
## check the last rows of data
travel_data.tail()

,Trip ID,Destination,Start date,End date,Duration (days),Traveler name,Traveler age,Traveler gender,Traveler nationality,Accommodation type,Accommodation cost,Transportation type,Transportation cost
134,135,"Rio de Janeiro, Brazil",8/1/2023,8/10/2023,9.0,Jose Perez,37.0,Male,Brazilian,Hostel,2500,Car,2000
135,136,"Vancouver, Canada",8/15/2023,8/21/2023,6.0,Emma Wilson,29.0,Female,Canadian,Hotel,5000,Airplane,3000
136,137,"Bangkok, Thailand",9/1/2023,9/8/2023,7.0,Ryan Chen,34.0,Male,Chinese,Hostel,2000,Train,1000
137,138,"Barcelona, Spain",9/15/2023,9/22/2023,7.0,Sofia Rodriguez,25.0,Female,Spanish,Airbnb,6000,Airplane,2500
138,139,"Auckland, New Zealand",10/1/2023,10/8/2023,7.0,William Brown,39.0,Male,New Zealander,Hotel,7000,Train,2500

In [7]:
## check the size of the frame
travel_data.shape

(139, 13)

In [ ]:
## data decription
travel_data.describe

In [9]:
## check for null values
travel_data.isnull().sum()

Trip ID                 0
Destination             2
Start date              2
End date                2
Duration (days)         2
Traveler name           2
Traveler age            2
Traveler gender         2
Traveler nationality    2
Accommodation type      2
Accommodation cost      2
Transportation type     3
Transportation cost     3
dtype: int64

In [10]:
## check top 5 destinations
travel_data['Destination'].value_counts()[0:5]

Destination
Paris            7
Bali             7
Tokyo, Japan     7
Paris, France    7
Tokyo            5
Name: count, dtype: int64

In [11]:
## checking the top 5 nationalities
travel_data['Traveler nationality'].value_counts()[0:5]

Traveler nationality
American      24
Korean        13
British       12
Canadian       9
Australian     8
Name: count, dtype: int64

## Clean Data
- Remove the few null values found in exploration
- Some duplicate / same destination names found when performing value counts i.e. destination = a. paris & b. paris, france => being different